<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!-- *** Added configuration section for CoreRemoting  -->
    <configSections>
        <section name="coreRemoting"
                 type="CoreRemoting.ClassicRemotingApi.ConfigSection.CoreRemotingConfigSection, CoreRemoting"/>
    </configSections>    
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <appSettings>
        <!-- *** This setting is no longer needed, because target server is configured in CoreRemoting client instance -->
        <!-- <add key="serverUrl" value="tcp://localhost:9090" />  -->
    </appSettings>

    <!-- *** Added CoreRemoting client configuration as replacement for .NET Remoting client configuration -->
    <coreRemoting>
        <clientInstances>
            <add uniqueInstanceName="DefaultClient"
                 serverHostName="localhost"
                 serverPort="8080"
                 serializer="binary"  
                 isDefault="true"
                 channel="ws" /> <!-- ws = Websocket channel -->
        </clientInstances>
    </coreRemoting>

    <!-- Original .NET Remoting client configuration  -->
    <!-- <system.runtime.remoting> -->
    <!--     <application name="MigratedTaskDemoAppNetRemoting.Client"> -->
    <!--         <channels> -->
    <!--             <channel ref="tcp" secure="true" /> -->
    <!--         </channels> -->
    <!--     </application> -->
    <!-- </system.runtime.remoting> -->
</configuration>