<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- *** Added configuration section for CoreRemoting  -->
    <configSections>
        <section name="coreRemoting" type="CoreRemoting.ClassicRemotingApi.ConfigSection.CoreRemotingConfigSection, CoreRemoting"/>
    </configSections>
    
    <appSettings>
        
    </appSettings>
    
    <!-- *** Added CoreRemoting server configuration as replacement for .NET Remoting server configuration -->
    <coreRemoting>        
        <serverInstances>
            <!-- Configured a new CoreRemoting server instance -->
            <add uniqueInstanceName="TaskServer" networkPort="8080" serializer="binary" channel="ws"/> <!-- ws = Websocket channel -->
        </serverInstances>
        <services>
            <!-- Configured the TodoService as RPC service --> 
            <add serviceName="TodoService" interfaceAssemblyName="MigratedTaskDemoAppNetRemoting.Shared" interfaceTypeName="MigratedTaskDemoAppNetRemoting.Shared.ITodoService" implementationAssemblyName="MigratedTaskDemoAppNetRemoting.Server" implementationTypeName="MigratedTaskDemoAppNetRemoting.Server.TodoService" lifetime="Singleton" uniqueServerInstanceName="TaskServer"/> <!-- Important! Server instance name must match with the name of the earlier confiured server instance. -->
        </services>
    </coreRemoting>

    <!-- Original .NET Remoting server configuration  -->
    <!-- <system.runtime.remoting> -->
    <!--     <application name="TaskDemoAppNetRemoting">             -->
    <!--         <service> -->
    <!--             <wellknown -->
    <!--                 mode="Singleton" -->
    <!--                 type="MigratedTaskDemoAppNetRemoting.Server.TodoService, MigratedTaskDemoAppNetRemoting.Server" -->
    <!--                 objectUri="TodoService"> -->
    <!--             </wellknown> -->
    <!--         </service> -->
    <!--         <channels> -->
    <!--             <channel ref="tcp" name="MigratedTaskDemoAppNetRemoting.Server" port="9090" secure="true"/>                 -->
    <!--         </channels> -->
    <!--     </application> -->
    <!-- </system.runtime.remoting> -->
    
</configuration>
