<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        
    </appSettings>
    <system.runtime.remoting>
        <application name="TaskDemoAppNetRemoting">            
            <service>
                <wellknown
                    mode="Singleton"
                    type="TaskDemoAppNetRemoting.Server.TodoService, TaskDemoAppNetRemoting.Server"
                    objectUri="TodoService">
                </wellknown>
            </service>
            <channels>
                <channel ref="tcp" name="TaskDemoAppNetRemoting.Server" port="9090" secure="true"/>                
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>