<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="serverUrl" value="tcp://localhost:9090" />
    </appSettings>
    <system.runtime.remoting>
        <application name="TaskDemoAppNetRemoting.Client">
            <channels>
                <channel ref="tcp" secure="true" />
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>